@import 'common';

$date-window-width: 2rem;
$date-window-height: 1.6rem;
$date-window-border-width: .1rem;
$date-window-border: $date-window-border-width solid #EFEFEF;

.date-window {
  position: absolute;
  left: 50%;
  margin-left: $watch-size / 2 - ($date-window-width * 2);
  top: 50%;
  margin-top: -($date-window-height / 2) - $date-window-border-width;
  height: $date-window-height;
  width: $date-window-width;
  background: #121212;
  border: $date-window-border;
  border-radius: 1px;
  padding-left: .2rem;
  padding-right: .2rem;
  box-shadow: inset -.05rem -.05rem 0 .05rem #767676,
  inset .05rem .05rem 0 .05rem #121212,
  inset 0 0 0 .1rem yellow;
}

.date-text {
  font-size: 1.1rem;
  font-weight: lighter;
  line-height: $date-window-height;
  text-align: center;
  color: #EFEFEF;
}
