@import 'common';

$pinion-centre-size: .25rem;
$pinion-surround-size: .45rem;
$pinion-centre-colour: silver;
$pinion-surround-color: #363F48;

.bezel {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  min-width: 320px;
}

.dial {
  width: $watch-size;
  height: $watch-size;
  background: $watch-dial-colour;
  border-radius: 50%;
  box-shadow: 0 0 0 .3rem #EEE,
  0 0 0 .8rem #A4A4A4,
  -.1rem -.1rem 0 1rem #BFBFBF,
  .1rem .1rem 0 1rem #7A7A7A,
  1rem 1rem 4rem black,
  inset 0 .5rem 1rem black;
  @include centre-stage($watch-size);
  &:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: radial-gradient(40rem at 18rem 18rem, transparent 45%, rgba(255, 255, 255, .2) 47%, transparent);
    border-radius: 50%;
  }
}

.pinion {
  height: .25rem;
  width: .25rem;
  border-radius: 50%;
  background: $pinion-centre-colour;
  box-shadow: 0 0 0 $pinion-surround-size $pinion-surround-color;
  z-index: 10;
  @include centre-stage($pinion-centre-size);
  &:before,&:after {
    text-align: center;
    position: fixed;
    left: 0;
    right: 0;
    top: 50%;
  }
  &:before {
    text-transform: uppercase;
    color: $dial-text-colour;
    content: 'Accelomatic';
    margin-top: 2rem;
    font-size: .6rem;
  }
  &:after {
    content: '200m (660ft)';
    margin-top: 2.8rem;
    font-size: .5rem;
    font-style: italic;
    color: #4C6AAA;
  }
}
