@import 'common';

$lug-width: 9.5rem;
$lug-length: 4rem;
$lug-border-width: 1rem;

.lug {
  position: absolute;
  width: $lug-width;
  left: 50%;
  margin-left: -($lug-width / 2) - $lug-border-width;
  border-left: $lug-border-width solid transparent;
  border-right: $lug-border-width solid transparent;
  &.top {
    top: 50%;
    margin-top: -10rem;
    border-bottom: $lug-length solid silver;
  }
  &.bottom {
    bottom: 50%;
    margin-bottom: -10rem;
    border-top: $lug-length solid silver;
  }
}
