@import 'common';

$strap-colour-edge-dark: #3C1900;
$strap-colour-edge-light: #8B4513;
$strap-colour: #632900;
$strap-width: 7rem;
$stitch-colour: wheat;
$stitch-width: .15rem;
$stitch-gutter: .7rem;
$stitch-border: $stitch-width $stitch-colour dashed;
$stitch-radius: .3rem;

.strap {
  position: absolute;
  left: 50%;
  margin-left: -($strap-width / 2);
  background: $strap-colour;
  width: $strap-width;
  box-shadow: -2px 0 0 0 $strap-colour-edge-light,
              1px 0 0 2px $strap-colour-edge-dark,
              0 0 0 5px $background-colour;
  &.top {
    top: 0;
    bottom: 50%;
    margin-bottom: 9rem;
    border-bottom-left-radius: 1px;
    border-bottom-right-radius: 1px;
    &:after {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      background: linear-gradient(to top, darken($strap-colour, 10%), darken($strap-colour, 5%) 5%, transparent 10%);
    }
  }
  &.bottom {
    bottom: 0;
    top: 50%;
    margin-top: 9rem;
    border-top-left-radius: 1px;
    border-top-right-radius: 1px;
    &:after {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      background: linear-gradient(to bottom, darken($strap-colour, 10%), darken($strap-colour, 5%) 5%, transparent 10%);
    }
  }
}

.stitches {
  &:before {
    content: '';
    position: absolute;
    left: $stitch-gutter;
    width: $strap-width - (2 * $stitch-gutter) - (2 * $stitch-width);
    background: transparent;
    border-left: $stitch-border;
    border-right: $stitch-border;
    box-shadow: 0 0 2px 1px darken($strap-colour, 10%);
  }
  &.top {
    &:before {
      top: 0;
      bottom: 2 * $stitch-gutter;
      border-bottom: $stitch-border;
      border-bottom-left-radius: $stitch-radius;
      border-bottom-right-radius: $stitch-radius;
    }
  }
  &.bottom {
    &:before {
      bottom: 0;
      top: 2 * $stitch-gutter;
      border-top: $stitch-border;
      border-top-left-radius: $stitch-radius;
      border-top-right-radius: $stitch-radius;
    }
  }
}

